/*
    Steven Tran
    Assignment 4, 2018
    UofT SCS Coding Bootcamp
*/

/*Element CSS*/
html, body{
    margin: 0;
    padding: 0;

    /*Scale image based on window size*/
    /*background-image: url("../images/Background/Grand_Order.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #4877c5;*/

    /*Properties for sticky footer, flexbox for variable height*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer{
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 20px 0 10px;
    text-align: center;
    font-size: 10px;
    margin-top: 5%;
}

/*Class CSS*/
.container{
    /*Sticky Footer property*/
    flex: 1;
}
.sub-headers{
    text-align: center;
}

.game-area{
    border: 2px solid white;
    /*margin-left: 8.33%;*/
}

.card-border{
    border: 2px solid gold;
}

.image-container{
    /*border: 2px solid gold;
    background-color: grey;*/
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/*ID CSS*/
#main-header{
    text-align: center;
    color: white; /*TEMP DECO*/
    font-family: 'EB Garamond', serif;
    padding: 10px 0;
}
/*TEMP CSS TEST CODE HERE*/
.servant-card{
    text-align: center;
}

#arena{
    border: 2px solid white;
    text-align: center;
}

#output{
    background-color: lightgray;
    margin: 3%;
    min-height: 200px;
}

#central-control{
    padding: 30px;
}

/* TEMP: Re-add for functionality
#main-game{
    display: none;
}*/